<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>An Error Occurred: {{ status_text }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="jumbotron" style="margin-top: 50px;;">
        <h1>Oops ! Il semblerait qu'il y ait une erreur...</h1>
        <h2>Les internets mondiaux n'ont pas été en mesure de trouver la page que vous avez demandé...</h2>
        <p>
            - Missa causé peut-être une ou deux little piccoli accidente, disons boum le gaz, et carabouillis limousine big boss... alors bannis !
        </p>
        <a class="btn btn-default" href="{{ path('ag_lasvegasbundle_home') }}"><i class="fa fa-arrow-left"></i> Revenir à l'accueil calmement</a>
        <a class="btn btn-info" href="{{ path('ag_lasvegasbundle_home') }}">S'enjailler tous ensemble</a>
        <a class="btn btn-danger" href="{{ path('ag_lasvegasbundle_home') }}">Désinstaller internet.exe</a>
    </div>
</div>
</body>
</html>
