{% extends 'AGLasVegasBundle::base.html.twig' %}

{% block lasvegasbundle_body %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>Photo <small>Editer</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
            <hr/>
            {% include 'AGLasVegasBundle:Photo:form.html.twig' %}
        </div>
    </div>
{% endblock %}
