{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center">
            <h1><img class="img-responsive img-thumbnail" src="{{ asset('img/las-vegas-night.jpg') }}" alt="Las Vegas"/></h1>
            <hr/>
            <div class="alert alert-success">
                {{ 'resetting.check_email'|trans({'%email%': email}) }}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">
                        <i class="fa fa-arrow-left"></i> Retour
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
